<h3>All Employee List</h3>
<table class="table table-hover">
<tr class="bg-info text-white">
    <td>ID</td>
    <td>Name</td>
    <td>Salary</td>
    <td>Gender</td>
    <td>Department</td>
    <td>Address</td>
    <td>Opertation</td>
   </tr>
   <tr *ngFor="let emp of employees">
       <td>{{emp.empId}}</td>
       <td>{{emp.empName}}</td>
       <td>{{emp.empSal}}</td>
       <td>{{emp.empGen}}</td>
       <td>{{emp.empDept}}</td>
       <td>{{emp.empAddrs}}</td>
       <td>
           <button class="btn btn-danger" (click)="deleteOneEmployee(emp.empId)">DELETE</button>
           &nbsp;<button class="btn btn-warning" (click)="editEmployee(emp.empId)">EDIT</button>
       </td>
   </tr>
</table>
<div class="bg-success text-white text-center">{{message}}</div>