<h3> All Employee Data</h3>
<table class="table table-hover">
    <tr class="bg-info text-white ">
        <th>Contact ID</th>
        <th>Contact Name</th>
        <th>Contact Number</th>
        <th>Contact Email</th>
        <th>Activate Switch</th>
        <th>Operation</th>
    </tr>
    <tr *ngFor="let contact of contacts">
        <th>{{contact.contactId}}</th>
        <th>{{contact.contactName}}</th>
        <th>{{contact.contactNum}}</th>
        <th>{{contact.contactEmail}}</th>
        <th>{{contact.activateSW}}</th>
        <th>
            <button class="btn btn-danger" (click)="deleteContact(contact.contactId)">DELETE</button>
           &nbsp; <button class="btn btn-warning" (click)="editContact(contact.contactId)">EDIT</button>

        </th>
        
    </tr>
</table>
<div class="bg-info text-white text-center">
    {{message}}
</div>
