<div class="card">
    <div class="card-header text-center bg-info text-white">
        <h3>CONTACT REGISTER</h3>
    </div>
    <div class="card-body">
        <form action="#" (ngSubmit)="updateContact()">
            <div class="formgroup">
                <label>Contact Id</label>
                <input type="text" 
                name="contactId" 
                id="contactId" 
                [(ngModel)]="contact.contactId" 
                    class="form-control"
                    readonly
                     />
               
            </div>
            <div class="formgroup">
                <label>Contact Name</label>
                <input type="text" name="contactName" id="contactName" [(ngModel)]="contact.contactName"
                    class="form-control" />
            </div>
            <div class="formGroup">
                <label>Contact Number</label>
                <input type="text" name="contactNum" id="contactNum" [(ngModel)]="contact.contactNum"
                    class="form-control" />
            </div>
            <div class="formGroup">
                <label>Contact Email</label>
                <input type="text" name="contactEmail" id="contactEmail" [(ngModel)]="contact.contactEmail"
                    class="form-control" />
                <div class="formGoup">
                    <label>Activate Switch</label>
                    <br>
                    <input type="radio" name="activateSW" id="activateSW1" [(ngModel)]="contact.activateSW"
                        value="yes" />
                    Yes
                    <input type="radio" name="activateSW" id="activateSW2" [(ngModel)]="contact.activateSW"
                        value="No" />
                    No
                </div>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
   
</div>