<div class="card">
    <div class="card-headder">
        <h3 class="text-center text-primary">EMPLOYEE REGISTER</h3>
    </div>
    <div class="card-body">
        <form action="#" (ngSubmit)="createEmployee()" #employeeForm="ngForm">
            <div class="form-group">
                <label>Employee Name</label>
                <input type="text" name="empName" id="empName" [(ngModel)]="employee.empName" 
                class="form-control"
                #empName="ngModel"
                required
                pattern="[A-Z]{4,8}"
              />
              <div class="text-danger" *ngIf="empName.invalid && (empName.dirty || empName.touched)">
                <span *ngIf="empName.errors?.['required']">Must Enter Employee Name</span>
                <span *ngIf="empName.errors?.['pattern']">Name must be 4-8 Uppercase letters</span>
              </div>
            </div>
      
            <div class="form-group">
              <label>Employee Salary</label>
              <input
                type="number"
                name="empSal"
                id="empSal"
                [(ngModel)]="employee.empSal"
                class="form-control"
                #empSal="ngModel"
                required
                min="1"
                max="5000.00"
              />
              <div class="text-danger" *ngIf="empSal.invalid && (empSal.dirty || empSal.touched)">
                <span *ngIf="empSal.errors?.['required']">Please Enter Salary</span>
                <span *ngIf="empSal.errors?.['min']">Salary Must be >1</span>
                <span *ngIf="empSal.errors?.['max']">Salary Must be <=5000.00 </span>
              </div>
            </div>
            <div class="form-group">
                <label>Employee Gender</label>
                <br />
                <input type="radio" name="empGen" id="empGen1" [(ngModel)]="employee.empGen" value="Female" />Female
                <input type="radio" name="empGen" id="empGen2" [(ngModel)]="employee.empGen" value="Male" />Male

            </div>

            <div class="form-group">
                <label>Employee Department</label>
                <select name="empDept" id="empDept" [(ngModel)]="employee.empDept" class="form-control">
                    <option value="">SELECT</option>
                    <option value="Dev">Dev</option>
                    <option value="QA">QA</option>
                    <option value="BA">BA</option>

                </select>

            </div>
            <div class="form-group">
                <label>Employee Address</label>
                <textarea 
                name="empAddr" 
                id="empAddr" 
                [(ngModel)]="employee.empAddrs" 
                class="form-control"
                #empAddr="ngModel"
                required
                pattern="[A-Za-z0-9\.\,\s\:]{10,100}"
                >

                </textarea>
                <div class="text-danger" *ngIf="empAddr.invalid && (empAddr.dirty || empAddr.touched)">
                    <span *ngIf="empAddr.errors?.['required']">Please Enter Address</span>
                    <span *ngIf="empAddr.errors?.['pattern']">Must be 10-100 char allowed A-Z a-z 0-9 ,.: and space</span>
                </div>
            </div>
            <button type="submit" [disabled]="employeeForm.form.invalid" class="btn btn-success">REGISTER</button>
       
        </form>

    </div>
    <div class="card-footer bg-success text-center">
        {{message}}
    </div>

</div>